@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(30%);
    }
    to { opacity: 1 }
}

@keyframes ani{
    0%{transform:translate(0,0);}
    100%{transform:translate(0,6px);}
}
@keyframes anim{
    0%{
        transform:translate(0,0);
        opacity: 0;
    }
    100%{
        transform:translate(0,-10px);
        opacity: 1;
    }
}