@import "./fonts.scss";
@import "./style.scss";
@import "./animation.scss";
:root {
    --black_1: #000000;
    --black_2: #0c0c0c;
    --black_3: #1a1a1a;
    --black_4: #2f2f2f;
    --black_5: #444444;
    --gray_1: #5f5f5f;
    --gray_2: #7a7a7a;
    --gray_3: #959595;
    --gray_4: #b0b0b0;
    --gray_5: #f3f3f3;
    --white_1: #ffffff;
    --white_2: #f2f2f2;
    --white_3: #e6e6e6;
    --white_4: #cccccc;
    --white_5: #b3b3b3;    

    --base_1: rgb(20, 23, 32);
    --base_2: rgb(28, 32, 42);

    --line_1: rgb(221, 165, 36);
    --line_2: rgba(251, 195, 27, 0.5);

    --shadow_1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --header_size: 70px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--gray_5);
}

