.curriculum {
    width: 100%;
    height: 100vh;

    &_wrapper {
        padding-top: 80px;
        width: 100%;
        height: 100%;

        &_item {
            width: 100%;
            height: 100%;
            padding: 100px 10vw;
            display: flex;
            flex-wrap: wrap;
            
            justify-content: center;
            align-items: center;
            align-content: flex-start;
            gap: 3vw;

            @media screen and (max-width: 768px) {
                padding-top: 30px;
            }
        }
    }

    &_item {
        font-family: 'IBM Plex Sans', sans-serif;
        width: 350px;
        height: 160px;
        background-color: #292E3B;
        border: solid 1px var(--black_1);
        color: var(--white_1);
        padding: 15px 20px;
        border-radius: 10px;
        animation: anim 1s both;

        & h1 {
            font-family: 'IBM Plex Sans', sans-serif;
            position: relative;
            display: inline;
            font-weight: bold;
            text-shadow: -0.1px 0 #000, 0 0.1px #000, 0.1px 0 #000, 0 -0.1px #000;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 2px;
                width: 100%;
                height: 20px;
                z-index: -1;
                background-color: var(--line_1);
            }
        }

        & p {
            font-family: 'NanumSquare', sans-serif;
            margin-top: 10px;
            font-weight: 400;
            color: rgb(214, 214, 214);
        }
    }
}