.main {
    width: 100%;
    height: 100vh;
    background-color: var(--base_1);

    &_button {
        padding: 5px 15px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: var(--white_2);
        font-size: 20px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border-bottom: var(--white_2) solid 2px;
        background-color:transparent;

        &:hover {
            background-color: var(--white_3);
            color: var(--black_3);
        }
    }

    &_background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;  
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }

    &_subtitle {
        font-family: 'Noto Sans KR', sans-serif;
        color: var(--white_1);
        
        &_sub {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: bold;
            color: var(--white_1);
        }
    }

    &_title {
        font-family: 'Expansiva Regular';
        color: var(--white_1);
        line-height: 1.1;

        &_sub {
            font-family: 'Expansiva Bold';
            color: var(--white_1);
            line-height: 1.05;
        }
    }

    &_wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 80%;
        transform: translate(-50%, -50%);
        text-align: center;

        
        @media screen and (hover: hover) {
            &:hover .main_wrapper_title {
                transform: translate(0, -30px);
                opacity: 0.5;
            }
            
            &:hover .main_wrapper_subtitle {
                transform: translate(0, -50px);
                opacity: 0.5;
            }
    
            &:hover > .main_wrapper_button {
                transform: translate(0, -60px);
                opacity: 1;
            }
    
            &:hover .main_hover_mouse {
                opacity: 0;
            }
    
            &:hover .main_hr {
                transform: translate(0, -60px);
                opacity: 0.5;
            }
        }
        

        &_title {
            display: flex;
            gap: 20px;
            margin-bottom: 10px;
            transition: 0.3s;
            justify-content: center;

            & p {
                font-size: 76px;
                animation: fadeInBottom 1.6s both;
                text-shadow: 0px 0px 25px var(--black_3);
            }
        }

        &_subtitle {
            display: flex;
            gap: 6px;
            justify-content: center;
            transition: 0.3s;

            & p {
                font-size: 24px;
                animation: fadeInBottom 0.8s both;
            }
        }

        &_button {
            display: flex;
            gap: 8px 15px;
            justify-content: center;
            transition: 0.3s;
            opacity: 1;
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width: 1200px) {
        &_background {
            background-image: none !important;
        }
    }

    @media screen and (max-width: 768px) {
        &_wrapper {
            &_title {
                & p {
                    font-size:40px;
                }
            }
            &_subtitle {
                & p {
                    font-size: 14px;
                }
            }
            &_button {
                & button {
                    font-size: 14px;
                    padding: 5px 10px;
                }
            }
        }
    }

    @media screen and (hover: hover) {
        .main_wrapper_button {
            opacity: 0;
        }
        .main_hover_mouse {
            opacity: 1;
        }
    }
    @media screen and (hover: none) {
        .main_button {
            border: 0;
            border-right: 2px solid var(--white_3);
            border-left: 2px solid var(--white_3);
            color: var(--white_3);
            padding-top: 3px;
            padding-bottom: 3px;
            // border-radius: 8px;

            animation: 1s infinite alternate; 
            transition: 0.2s;
        }
        .main_button:hover {
            color: var(--black_3);
            background-color: var(--white_3);
        }
        .main_wrapper_button {
            margin-top: 20px;
        }
        .main_hover_mouse {
            display: none;
        }
    }

    &_hover_mouse {
        margin-top: 20px;
        font-size: 20px;
        color: rgb(203, 203, 203);
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        opacity: 0;

        & p{
            font-family: 'NanumSquare', sans-serif;
            font-weight: 500;
        }

        animation: ani 1s infinite alternate;
        transition: 0.2s;

        img {
            height:25px;
        }
    }

    &_hr {
        margin-top: 20px;
        transition: 0.3s;
    }
}
