.introduce {
    width: 100%;
    height: 100vh;

    &_wrapper {
        padding-top: 80px;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
    }
    &_title {
        color: var(--white_2);
        font-size: 32px;
        font-weight: 500;
    }
}